* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    interpolate-size: allow-keywords;
    color-scheme: light dark;
    --bg-color: light-dark(#ffffff, #000000);
    --sections-color: light-dark(#ffffff, #1c1c1c);
    --height: 9vh;
    --width: 9vw;
}

body {
    /*background-color: var(--bg-color);*/
    height: 100lvh;
}

article {
    height: 100vh;
    display: grid;
    grid-template-rows: 2.5fr 1.5fr;
    gap: .5rem;
    & div:first-of-type {
        gap: .5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        & section:first-of-type {
            background-color: red;
        }
    }
    & div:last-of-type {
        gap: .5rem;
        display: grid;
        grid-template-columns: .1fr auto .1fr;
    }
}

@media only screen and (max-width: 600px) {
    article {
        height: 100svh;
        display: grid;
        grid-template-rows: 2.5fr 1.5fr;
        gap: .2rem;
        & div:first-of-type {
            gap: .2rem;
            display: grid;
            grid-template-columns: 0fr 1fr;
            transition: grid-template-columns 1s ease-out;

            body:has(input[value="yes"]:checked) & {
                grid-template-columns: 1fr 0fr;
            }
        }
        & div:last-of-type {
            gap: .2rem;
            display: grid;
            grid-template-columns: 0fr auto 0fr;
        }
    }
}

section {
    background-color: var(--sections-color);
    min-width: 0px;
    overflow: hidden;
    transition: grid-template-columns 1s ease-out;
}


/*https://www.w3schools.com/css/css_grid.asp*/
ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 0;
}

li {
    margin: .5em;
    width: var(--width);
    height: var(--height);
    background-color: red;
}


/*animation 2s infinite linear paused;*/

/*animation-play-state: running;*/