* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --bg-color: light-dark(#ffffff, #000000);
    --sections-color: light-dark(#ffffff, #1c1c1c);
    --height: 9vh;
    --width: 9vw;
}

body {
    /*background-color: var(--bg-color);*/
    height: 100lvh;
}

article {
    height: 100vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: .5rem;
}


section {
    background-color: var(--sections-color);
    padding: .5em;
}

/*https://www.w3schools.com/css/css_grid.asp*/
ul {
    list-style-type: none;
}

li {
    width: var(--width);
    height: var(--height);
    background-color: red;
}

section:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(2) {
    grid-area: 1 / 4 / 2 / 7;
}

section:nth-last-of-type(1) {
    grid-area: 2 / 1 / 3 / 2;
}

section:nth-last-of-type(2) {
    grid-area: 2 / 2 / 3 / 6;
}

section:nth-last-of-type(3) {
    grid-area: 2 / 6 / 3 / 7;
}

/*animation 2s infinite linear paused;*/

/*animation-play-state: running;*/